<% if object[attribute].present? %>
  <tr>
    <th><%= label %></th>
    <td>
      <% if object[attribute].is_a?(Array) %>
        <ul>
          <% object[attribute].each do |value| %>
            <li><%= value %></li>
          <% end %>
        </ul>
      <% else %>
        <%= simple_format(object[attribute]) %>
      <% end %>
    </td>
  </tr>
<% end %>
