<% if object[attribute[:key]].present? %>
  <tr>
    <th><%= attribute[:label] %></th>
    <td>
      <% if object[attribute[:key]].is_a?(Array) %>
        <ul>
          <% object[attribute[:key]].each do |value| %>
            <li><%= value %></li>
          <% end %>
        </ul>
      <% else %>
        <%= simple_format(object[attribute[:key]]) %>
      <% end %>
    </td>
  </tr>
<% end %>
