<table class="table">
  <tbody>
    <%= render partial: "competency_frameworks/show/details_attribute", collection: COMPETENCY_FRAMEWORK_ATTRIBUTES, as: :attribute, locals: { object: competency_framework } %>
  </tbody>
</table>
