<h6>Framework details</h6>

<table class="table">
  <tbody>
    <%= render partial: "competency_frameworks/show/details_attribute", collection: COMPETENCY_FRAMEWORK_ATTRIBUTES, as: :attribute, locals: { object: competency_framework } %>
  </tbody>
</table>


<div class="actions">
  <a href="<%= download_competency_framework_url(params[:id]) %>" class="btn btn-info">Export as JSON</a>
</div>
