<div class="d-flex">
  <div class="flex-grow-1">
    <h5>
      <%= competency_framework.title %>
    </h5>
    <%= truncate(competency_framework.description, length: 200) %>
  </div>

  <div>
    <%= image_tag competency_framework_metadata.attribution_logo_url, class: "ms-3 align-self-center", width: 100, alt: competency_framework_metadata.attribution_name %>
  </div>
</div>
