<h6>Container details</h6>

<div class="table-wrapper">
  <table class="table">
    <tbody>
      <%= render partial: "containers/show/details_attribute", collection: CONTAINER_ATTRIBUTES, as: :attribute, locals: { object: container } %>
    </tbody>
  </table>

  <% container_metamodel = available_metamodels.find { |m| m[:concept_url] == container_metadata.provider_meta_model } %>

  <div id="container-actions" class="actions">
    <div class="btn-group" role="group" title="Transforming competency container might take from 30 seconds to several minutes">
      <%= link_to download_container_url(container_metadata.id), class: "btn btn-info export-button", target: "_blank" do %>
        <div class="export-spinner spinner-border spinner-border-sm" role="status"></div>
        <span class="export-label">
          Export as <%= container_metamodel[:label] %>
        </span>
      <% end %>
      <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Select metamodel</span>
      </button>
      <ul class="dropdown-menu">
      <% (available_metamodels - [container_metamodel]).each do |metamodel| %>
        <li>
          <%= link_to metamodel[:label], download_container_url(container_metadata.id, metamodel: metamodel[:concept_url]), class: "dropdown-item", target: "_blank" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
