<li class="media p-3 border-bottom">
  <div class="media-body">
    <h6>
      <%= link_to competency_framework.name, competency_framework_path(id: competency_framework.id) %>
    </h6>
    <% if competency_framework.description.present? %>
      <div class="media-body text-muted small">
        <%= truncate(competency_framework.description, length: 300) %>
      </div>
    <% end %>
  </div>
  <%= image_tag competency_framework.attribution_logo_url, class: "ml-3 align-self-center", width: 100, alt: competency_framework.attribution_name %>
</li>
