<h5>Displaying <%= results.count %> results</h5>
<div class="mt-1 bg-white rounded shadow-sm">
  <ul class="list-unstyled">
    <%= render partial: "result", collection: results, as: :competency_framework %>
  </ul>
</div>
