<%= render partial: "search", locals: { query: @query } %>

<div class="mt-3">
  <% if @query.present? %>
    <%= render partial: "results", locals: { results: @competency_frameworks_metadata } %>
  <% else %>
    <%= render partial: "no_query" %>
  <% end %>
</div>
