<p class="lead">This is a prototype developed in 2020 that is limited to 300 frameworks, with 100 frameworks each coming from three registries using three different competency schemas:</p>

<ol>
  <li>Credential Engine Registry using CTDL-ASN</li>
  <li>IMS Global Case Network using CASE</li>
  <li>Desire2Learn using ASN</li>
</ol>

<p class="lead">A metamodel interchange API is used to translate between the schemas, so that each framework is available in its native schema or in both of the other two. These options are found via a download button located at the bottom, right of each competency framework detail page.</p>

<p class="lead">The 300 frameworks are limited to four industries. To explore the prototype, use one of these keywords: manufacturing, industry, agriculture, or culinary. The search index for this prototype includes Competency statements, Competency Names, and Descriptions.</p>
