<p class="lead">
  The Competency Explorer is a project of the
  <%= external_link_to "T3 Innovation Network", "https://www.uschamberfoundation.org/solutions/workforce-development-and-training/t3-innovation-network" %>.
  Competency Explorer aims to make competency definitions readily available to humans and machines by connecting a network of competency registries.
  The network is supported by a protocol that enables search and retrieval of competency definitions regardless of the technical standard
  used to express the competency data. Learn more via the
  <%= external_link_to "T3 wiki", "https://wiki.t3networkhub.org/wiki/OCN:_Competency_Explorer" %>.
</p>

<p class="lead">At this time the Competency Explorer registries include:</p>

<p class="lead">
  <ol class="list-group list-group-numbered d-inline-block">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <span class="fw-bold">Credential Engine's Credential Registry</span>:
        Learn more about the
        <%= external_link_to "Credential Registry", "https://credentialengine.org/credential-transparency/credential-registry/" %>.
      </div>
    </li>
  </ol>
</p>

<p class="lead">
  Work is underway to connect other competency registries. This information will be updated as other registries are included.
</p>

<p class="lead">
  To explore the prototype, try the following searches:
</p>

<p class="lead">
  <ul class="list-group d-inline-block">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        All containers, all text: <mark>chocolate</mark>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        All containers, container name: <mark>NICE</mark>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        All containers, competency text: <mark>weld</mark>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        All containers, credential: <mark>senior certified professional</mark>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        All containers, learning opportunity: <mark>biology program outcomes</mark>
      </div>
    </li>
  </ul>
</p>
