<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      | Open Competencies Network
    <% end %>
  </div>
</nav>
