$gray-300: #dee2e6;
$gray-600: #6c757d;
$border-radius: 0.25rem;

html {
  font-size: 14px;
}

.navbar img {
  height: 3rem;
}

.btn.disabled {
  opacity: 0.3;
}

.competency-tree {
  .container-header {
    padding: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;

    &:hover {
      background: #eeeeee;
    }
  }

  .children .tree-item {
    margin-left: 1.5rem;
  }

  .selected > .container-header {
    background: #cccccc;
  }

  .details {
    display: none;
  }

  .competencies {
    margin-left: 1.5rem;

    .collapsed .children {
      display: none;
    }

    .header {
      position: relative;
      border-bottom: 1px solid #cccccc;
    }

    .details-toggle {
      cursor: pointer;

      &:hover {
        background: #eeeeee;
      }
    }

    .selected > .header .details-toggle {
      background: #dddddd;
    }

    .collapse-toggle {
      position: absolute;
      left: -1.5rem;
      top: 50%;
      margin-top: -0.675rem;
      width: 1.35rem;
      height: 1.35rem;
      display: inline-block;
      font-size: 0.6rem;
      line-height: 1.35rem;
      text-align: center;
      cursor: pointer;

      span {
        display: block;
        transform: rotate(90deg);
        transition: transform 0.3s;
      }

      &:hover {
        background: #eeeeee;
      }
    }

    .collapsed {
      .collapse-toggle span {
        transform: rotate(0deg);
      }
    }
  }
}

.details-view {
  position: sticky;
  top: 1rem;

  h6 {
    margin: 0;
    padding: 0.75rem;
    background: $gray-300;
    color: $gray-600;
    border-radius: $border-radius;
  }

  .table-wrapper {
    max-height: calc(100vh - 5rem - 2rem - 2.5rem); // Viewport height - topbar - panel margin - details header
    overflow-y: auto;
  }

  .table {
    margin: 0;
    word-break: break-word;

    tr:first-child {
      th, td {
        border: none;
      }
    }

    th {
      white-space: nowrap;
      width: 1%;
    }

    ul {
      margin: 0;
      padding-left: 1.2rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .actions {
    border-top: 1px solid $gray-300;
    padding: 1.5rem 0.75rem 0.75rem;

    .long-export-notice {
      display: inline-block;
    }
  }

  .export-button {
    position: relative;

    span, .spinner-border {
      transition: opacity 0.5s;
    }

    .spinner-border {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -0.5rem;
      margin-top: -0.5rem;
      opacity: 0;
    }
  }
}


.tooltip-inner {
  max-width: 240px;
}
